/*=======VERIABLES==========*/
:root {
	--clr-primary-200: hsla(207, 73%, 36%, 0.363);
	--clr-primary-400: #29323c;
	--clr-secondary: #434343;
	--clr-white: #fff;
	--clr-black: #000;
	--ff-roboto: 'Roboto', sans-serif;
	--ff-oswald: 'Oswald', sans-serif;
	--ff-size: 1rem;
	--font-weight: 400;
	--line-height: 1.6;
	--clr-footer: #5d9fff;
}
/*=======RESETS==========*/
*,
*::before *::after {
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-roboto);
	font-size: var(--ff-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
}
body,
h1,
h2,
h3,
p {
	padding: 0;
}
h1,
h2,
h3 {
	font-family: var(--ff-roboto);
	line-height: 1;
	font-weight: 900;
}

h2,
h3,
p {
	margin-bottom: 1em;
}
img {
	display: block;
	max-width: 100%;
}
/*=======HEADER==========*/
.hero {
	background-color: var(--clr-primary-200);
}

/*=======UTILITIES CLASSES==========*/
.text-center {
	text-align: center;
}
.container {
	margin-inline: auto;
	width: min(90%, 70.5rem);
}
.content-center {
	/* max-width: 50rem; */
}
.bg-2 {
	background-color: var(--clr-primary-400);
	color: var(--clr-white);
}

.bg-3 {
	color: var(--clr-white);
	background-color: var(--clr-secondary);
}

.bg-4 {
	color: var(--clr-white);
	background-color: var(--clr-black);
}

.bg-2,
.bg-3 {
	color: var(--clr-white);
	z-index: 5;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

@media (min-width: 40em) {
	.wrapper {
		flex-direction: row;
	}
	.wrapper > * {
		flex-basis: 100%;
	}
	.wrapper > * + * {
		margin-left: 2em;
	}
}

.box1,
.box2,
.box3 {
	background: #fff;
	background: linear-gradient(
		to right top,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	width: 20rem;
	height: 20rem;
	position: absolute;
	border-radius: 50%;
}

.box1 {
	top: 5%;
	left: 10%;
}

.box2 {
	top: 10%;
	right: 12%;
}

.box3 {
	top: 95%;
	right: 5%;
}

/*=======SECTION==========*/
header,
section {
	padding: 3rem 0;
}
@media (min-width: 40em) {
	header,
	section {
		padding: 7rem 0;
	}
}
/*=======FOOTER==========*/
footer {
	background-color: var(--clr-footer);
	margin: 0 auto;
	text-align: center;
	padding: 40px;
}
